[Unit]
Description=pi500usb USB HID + ECM gadget service

[Service]
ExecStart=/usr/bin/pi500usb
User=root
Group=root
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
